{% extends 'resume/base.html' %}

{% block content %}
<h2>Список Искателей работы</h2>

<div class="category">
    <strong>Специальности:</strong>
    {% for c in categories %}
        <a href="?category={{ c.id }}">{{ c.name }}</a>
    {% endfor %}
</div>
<p><a href="{% url 'create_resume' %}">Добавить свое резюме</a></p>
<p><a href="{% url 'create_resume_category' %}">Добавить специальность</a></p>
<form method="get">
    <input type="text" name="q" placeholder="Поиск по специальности" value="{{ request.GET.q }}">
    <button type="submit">Искать</button>
</form>
{% for resume in resumes %}
    <div>
        <a href="{% url 'resume_detail' resume.pk %}">
            <strong>{{ resume.name }}</strong>
        </a><br>
        {% if resume.image %}
            <img src="{{ resume.image.url }}" alt="{{ resume.name }}" width="400">
        {% endif %}
        <a href="{% url 'cart_add' resume.id %}">Добавить на рассмотрение</a>
        <a href="{% url 'edit_resume' resume.id %}">Изменить Резюме</a>
        <a href="{% url 'delete_resume' resume.id %}">Удалить Резюме</a>

    </div>
{% empty %}
    <p>Искателей работы на данный момент нет.</p>
{% endfor %}
{% endblock content %}